.git/*
.gitignore
.helmignore
BENCHMARKS.md
README.md
SCALING.md
README.md
PV.md
USAGE/*
media/*
tmpcharts*/*
mdai-cluster-*.tgz
files/example_collector.yaml
files/example2_collector.yaml
files/greptimedb/*
files/thanos/*
example_log_generator.yaml
example_log_generator_noisy_service.yaml
example_log_generator_xtra_noisy_service.yaml
example_ingress_config.yaml
example_prometheus_rule.yaml
values_fluentd.yaml
values_minio.yaml
without_grafana.yaml
.idea/*
Makefile
.github/
